@font-face {
	font-family: 'Golos Regular';
	src:
		url('Golos-Regular.woff2') format('woff2'),
		url('Golos-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Bold';
	src:
		url('Golos-Bold.woff2') format('woff2'),
		url('Golos-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

:root{
    --nv-base-size-xs: 16px;
    --nv-base-size-s: 24px;
    --nv-base-size-m: 32px;
    --nv-base-size-l: 40px;

    --nv-base-gap-xs: 4px;
    --nv-base-gap-s: 8px;
    --nv-base-gap-m: 12px;
    --nv-base-gap-l: 16px;
    --nv-base-gap-xl: 24px;
    --nv-base-gap-xxl: 32px;
    --nv-base-gap-xxxl: 48px;

    --nv-line-height-sm: 12px;
    --nv-line-height-md: 19px;
    --nv-line-height-lg: 19px;

    --nv-height-sm: 24px;
    --nv-height-md: 32px;
    --nv-height-lg: 40px;

    --nv-padding-x-sm: 8px;
    --nv-padding-x-md: 10px;
    --nv-padding-x-lg: 12px;

    --nv-padding-y-sm: 4px;
    --nv-padding-y-md: 6px;
    --nv-padding-y-lg: 8px;

    --nv-icon-size-sm: 12px;
    --nv-icon-size-md: 16px;
    --nv-icon-size-lg: 24px;
  
    --nv-primary:hsla(232, 67%, 58%, 1);
    --nv-primary-hue: 232;
    --nv-primary-saturation: 67%;
    --nv-primary-lightness: 58%;

    --nv-text1: hsl(var(--nv-primary-hue) var(--nv-primary-saturation) 10%);
    --nv-text2: hsl(var(--nv-primary-hue) 30% 30%);

    --surface1: hsl(var(--nv-primary-hue) 25% 90%);
    --surface2: hsl(var(--nv-primary-hue) 20% 99%);
    --surface3: hsl(var(--nv-primary-hue) 20% 92%);
    --surface4: hsl(var(--nv-primary-hue) 20% 85%);

    --nv-box-shadow:0px 8px 30px rgba(0, 0, 0, 0.15);

    --nv-default:hsla(220, 26%, 96%, 1);
    --nv-default-hue: 220;
    --nv-default-saturation: 26%;
    --nv-default-lightness: 96%;



    --primary-base: #6C75DC;
    --primary-dark: #5A62B7;
    --primary-darkest: #484F94;
    --primary-light:#ADB2E9;
    --primary-lightest: #EFF1FF;

    --negative-base: #FF6361;
    --negative-dark: #C64C4B;
    --negative-darkest: #8F3736;
    --negative-light: #FF9D9E;
    --negative-lightest: #F8D3D5 ;


    --grey-base: #CBCED7;
    --grey-dark: #ACB1C1;
    --grey-light: #E1E5EB;
    --grey-lightest: #F6F8FA;
    --white: #fff;

    --black-base: #3E4050;
    --black-dark: #32343F;
    --black-light: #4A4D61;
    --black-lightest: #8D8F9B;

    --direction: ltr;

    /* Turquoise
    --primary-base: #80BEE1;
    --primary-dark: #6B9EBD;
    --primary-darkest: #568199;;
    --primary-light:#ACD6EF;;
    --primary-lightest:  #D7EFFD; */


    /* Mint
    --primary-base: #87CAB0;
    --primary-dark: #6DA490;
    --primary-darkest: #558171;;
    --primary-light:#AFE4D6;;
    --primary-lightest:  #DAFEF7; */

}

body {
    background-color: var(--surface1);
}